{{ define "main" }}
  {{- if .Site.IsServer -}} {{ "<!-- Layout: page/about.html -->" |safeHTML }} {{- end -}}

    
    {{ partial "page-title.html" . }}
    <section class="about section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about-img"><img class="img-responsive" src="{{ .Params.image }}"></div>
          </div>
          <div class="col-md-6">
           {{ .Content }}
           <a href="/" class="btn btn-small mt-20">{{ .Params.profile_btn }}</a>
          </div>
        </div>
        <div class="row counter-box text-center mt-50">
          {{ range .Params.counter_box }}
          <div class="col-md-2">
            <div class="counter-item">
              <i class="{{ .icon }}"></i>
              <h4 class="count" data-count="{{ .count }}">{{ .count }}</h4>
              <span>{{ .name }}</span>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    <section class="about-feature bg-dark section dark-service">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h2>{{ .Params.feature_title | safeHTML }}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          {{ range .Params.feature }}
            <div class="col-md-4">
              <div class="service-item">
                <i class="{{ .icon }}"></i>
                <h4>{{ .name }}</h4>
                <p>{{ .description }}</p>
              </div>
            </div>
         {{ end }}
        </div>
      </div>
    </section>
    <section class="testimonial section-sm">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="testimonial-carousel text-center">
              <div class="testimonial-slider owl-carousel slick-initialized slick-slider">
                <div class="slick-list draggable">
                  <div class="slick-track" style="opacity: 1; width: 3535px; transform: translate3d(-1515px, 0px, 0px);">
                   {{ range .Params.testimonial_slider }}
                    <div class="slick-slide {{ .active }}" data-slick-index="{{ .data_slick_index }}" aria-hidden="{{ .aria_hidden }}" tabindex="{{ .tabindex }}" style="width: 505px;">
                      <i class="ion-quote"></i>
                      <p>"{{ .description }}"</p>
                      <div class="user">
                        <img src="{{ .image }}" alt="client">
                        <p><span>{{ .name }}</span>{{ .postition }}</p>
                      </div>
                    </div>
                   {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tabCommon">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#vision" data-toggle="tab">Vision</a></li>
                <li><a href="#mission" data-toggle="tab">Mission</a></li>
                <li><a href="#approach" data-toggle="tab">Approach</a></li>
              </ul>
              <div class="tab-content">
                <div id="vision" class="tab-pane fade active in">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nobis ducimus facere repellat harum, eius cupiditate, aliquam aut deserunt. Nemo illo ex impedit autem quod nobis architecto, velit quasi, aut voluptas porro natus. Fuga magnam perspiciatis fugit, placeat possimus officia non ducimus voluptatum aspernatur ad quidem neque accusantium repudiandae cupiditate nobis corporis, cum facere iusto, modi cumque consectetur saepe. Officia, molestiae tempore! Consequatur ipsa consequuntur saepe suscipit vero laudantium, mollitia, quaerat soluta nihil non tempore, quos dignissimos quasi ab officiis illum numquam quibusdam ducimus, veritatis ad. Quia, aliquid. Quaerat quos ducimus ipsam amet minus temporibus eos sequi alias hic nemo.</p>
                </div>
                <div id="mission" class="tab-pane fade">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nobis ducimus facere repellat harum, eius cupiditate, aliquam aut deserunt. Nemo illo ex impedit autem quod nobis architecto, velit quasi, aut voluptas porro natus. Fuga magnam perspiciatis fugit, placeat possimus officia non ducimus voluptatum aspernatur ad quidem neque accusantium repudiandae cupiditate nobis corporis, cum facere iusto, modi cumque consectetur saepe. Officia, molestiae tempore! Consequatur ipsa consequuntur saepe suscipit vero laudantium, mollitia, quaerat soluta nihil non tempore, quos dignissimos quasi ab officiis illum numquam quibusdam ducimus, veritatis ad. Quia, aliquid. Quaerat quos ducimus ipsam amet minus temporibus eos sequi alias hic nemo.</p>
                </div>
                <div id="approach" class="tab-pane fade">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nobis ducimus facere repellat harum, eius cupiditate, aliquam aut deserunt. Nemo illo ex impedit autem quod nobis architecto, velit quasi, aut voluptas porro natus. Fuga magnam perspiciatis fugit, placeat possimus officia non ducimus voluptatum aspernatur ad quidem neque accusantium repudiandae cupiditate nobis corporis, cum facere iusto, modi cumque consectetur saepe. Officia, molestiae tempore! Consequatur ipsa consequuntur saepe suscipit vero laudantium, mollitia, quaerat soluta nihil non tempore, quos dignissimos quasi ab officiis illum numquam quibusdam ducimus, veritatis ad. Quia, aliquid. Quaerat quos ducimus ipsam amet minus temporibus eos sequi alias hic nemo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ partial "cta.html" . }}
  {{- if .Site.IsServer -}} {{ "<!-- Layout: End page/about.html -->" |safeHTML }} {{- end -}}
{{ end }}