{{ define "main" }}
  {{- if .Site.IsServer -}} {{ "<!-- Layout: blog/list.html -->" |safeHTML }} {{- end -}}
     
   
    {{ partial "page-title.html" . }}
    <div class="page-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {{ $paginator := .Paginate .Data.Pages }}
            {{ range $paginator.Pages }}
            <div class="post">
              <div class="post-media post-thumb"><a href="{{ .RelPermalink }}"><img src="{{ .Params.image }}" alt="{{ .Title }}"></a></div>
              <h3 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
              <div class="post-meta">
                <ul>
                  <li><i class="ion-calendar"></i>{{ .PublishDate.Format "January 2, 2006" }}</li>
                  
                  <li><i class="ion-android-people"></i>Posted By <a class="text-primary" href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.author }}</a></li>
                  <li><i class="ion-pricetags"></i> 
                    {{ range .Params.tags }}
                      <a href="/tags/{{ . | urlize }}">{{ . }},</a>
                    {{ end }}
                  </li>
                </ul>
              </div>
              <div class="post-content">
                <p>{{ .Summary }}</p>
                <a href="{{ .RelPermalink }}" class="btn btn-main">{{ .Params.continue_btn }}</a>
              </div>
            </div>
         {{ end }}
            <nav class="text-center">
              {{ if gt .Paginator.TotalPages 1}}
              <ul class="pagination post-pagination">

                {{ if .Paginator.HasPrev }}
                <li><a href="{{ .Paginator.Prev.URL }}" class="page-link">Prev</a></li>
                {{ end }}
    
                {{ range .Paginator.Pagers }}
                {{ if eq .PageNumber $paginator.PageNumber }}
                 <li class="{{ if eq . $paginator }} active {{ end }}"><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
                {{ end }}
               
                {{ end }}

                {{ if $paginator.HasNext }}
                <li>
                  <a href="{{ $paginator.Next.URL }}">Next</a>
                </li>
                {{ end }}
                
            
              </ul>
              {{ end }}
            </nav> 
          </div>
          <div class="col-md-4">

            <aside class="sidebar">
              {{ partial "blog-side-bar.html" . }}
              <div class="widget widget-category">
                <h4 class="widget-title">Categories</h4>
                <ul class="widget-category-list unique">
                  {{ range .Pages }} 
                    {{ range .Params.categories }}
                    <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
                    {{ end }}
                  {{ end }}
                </ul>
              </div>
              <div class="widget widget-tag">
                <h4 class="widget-title">Tags</h4>
                <ul class="widget-tag-list unique">
                 
                  {{ range .Pages }} 
                    {{ range .Params.tags }}
                      <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
                    {{ end }}
                  {{ end }}
                 
                </ul>
              </div>
            </aside>
           
          </div> 
        </div>
      </div>
    </div>

  {{- if .Site.IsServer -}} {{ "<!-- Layout: End blog/list.html -->" |safeHTML }} {{- end -}}
{{ end }}